---
export const prerender = false;
import LayoutDashboard from "../../layouts/LayoutDashboard.astro";
---

<LayoutDashboard title="Upgrade | Vina Gallica" active="upgrade">
  <h1 class="dash-title">Upgrade to Premium</h1>
  <p class="dash-placeholder-text">Stripe checkout is coming soon.</p>
</LayoutDashboard>

<style>
  .dash-title {
    font-family: var(--font-heading);
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    text-shadow: 2px 2px 0 goldenrod, -1px 1px 0 gold, 1px -1px 0 goldenrod, -1px -1px 0 #fff;
    color: var(--color-elegant-black);
  }

  .dash-placeholder-text {
    font-family: var(--font-extra);
    font-size: 0.92rem;
    color: var(--color-elegant-black);
    opacity: 0.55;
    line-height: 1.6;
  }
</style>
