---
import logoMark from "../assets/logo-vina-gallica.png";
import logoText from "../assets/vina-gallica-text.png";
import img001 from "../assets/001.png";
import img002 from "../assets/002.png";
import { Image } from "astro:assets";
import MobileMenu from "./MobileMenu.tsx";
---

<header>
  <div class="header-inner">
    <a href="/" aria-label="Vina Gallica - Home Page" class="logo-link">
      <Image
        src={logoMark}
        alt="Logo Vina Gallica"
        width={50}
        height={50}
        densities={[1, 2]}
        loading="eager"
        fetchpriority="high"
      />
      <Image
        src={logoText}
        alt="Vina Gallica Directory"
        width={336}
        height={58}
        densities={[1, 2]}
        loading="eager"
        fetchpriority="high"
      />
    </a>
    <div class="header-right">
      <Image
        src={img001}
        alt="Journal Vina Gallica"
        width={168}
        height={30}
        densities={[1, 2]}
        loading="eager"
        fetchpriority="high"
      />
      <Image
        src={img002}
        alt="About Vina Gallica"
        width={126}
        height={30}
        densities={[1, 2]}
        loading="eager"
        fetchpriority="high"
      />
    </div>
    <MobileMenu client:load />
  </div>
</header>

<style>
  header {
    background-color: var(--color-gold);
    position: relative;
    z-index: 200;
  }

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: var(--space-lg);
    padding-block: var(--space-sm);
  }

  .logo-link {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    text-decoration: none;
  }

  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-sm);
  }

  @media (max-width: 768px) {
    .header-right {
      display: none;
    }
  }
  
  @media (max-width: 540px) {
.header-inner {
  padding-inline: var(--space-sm);
}
  }
  @media (max-width: 490px){
    .logo-link {
  scale: calc(0.8);
  margin-left: -9vw;
}
  }
  @media (max-width:400px){
    .logo-link img:nth-child(even) {
      display: none;
    }
    .logo-link {
            scale: calc(1);
margin-left: 0;
   }
   .header-inner {
    padding-inline: var(--space-md);
   }
    
  }
</style>
